{erl_opts, [debug_info]}.
{deps, [{opentelemetry, "~> 1.5"},
        {opentelemetry_api, "~> 1.4"},
        {opentelemetry_api_experimental, {
                git_subdir,
                "git@github.com:stritzinger/opentelemetry-erlang.git",
                {branch, "main"},
                "apps/opentelemetry_api_experimental"
            }
        }
    ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [opentelemetry_experimental]}
]}.
